{% extends "base.html" %}

{% block title %}
Update
{% endblock %}

{% block content %}
<h2>HTTP Update</h2>
<!-- 텍스트 입력 필드 -->
<input type='text' id='text_field' placeholder='enter your text'>
<!-- HTTP 업데이트 요청 송신 버튼 -->
<button onclick='send_update()'>Update</button>
{% endblock %}

{% block scripts %}
<script>
    function send_update() {
        var xhr = new XMLHttpRequest();
        var url = 'http://127.0.0.1:8000/var/update';
        var data = JSON.stringify({
            text: document.getElementById('text_field').value
        });

        xhr.open('PUT', url, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                alert('update' + xhr.responseText);
            }
        };
        xhr.send(data);
    }
</script>
{% endblock %}