<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>Summary</title>
<link rel="stylesheet" href="{{ url_for('static', filename='summary.css') }}">
</head>
<body>
  <div class="grid-view">
    <iframe src="{{ url_for('view0') }}" frameborder="0"></iframe>
    <iframe src="{{ url_for('view1') }}" frameborder="0"></iframe>
    <iframe src="{{ url_for('danger_area') }}" frameborder="0"></iframe>
    <iframe src="{{ url_for('view3') }}" frameborder="0"></iframe>
  </div>
</body>
</html>